html,body{
  color: black;
  }
div{
  border-radius: 5px;
}

#header{
  position: fixed;
  width:97.5%;
  margin-top: 20px;
  height: 60px;
  margin-bottom: 10px;
}

.page-title{
  float: left;
  marginn-top: -20px;
  margin-left: 10px;
  padding-top: 5px;
  font-size: 16px;
  font-family: Verdan, Helvetica;
  color: dark gray;
}
  
    
