html, body{
  font-family: comic-sans;
  min-height: 100%;
  line-height: 1.5;
  position: relative;
  top: 10px;
  left:20px;
}

.title-page {
  text-align= center;
  font-color= pink;
  font-size= 48px;
}

.education{
  text-align: right;
}
